
@use "../presets" as *;

.expertise {
  background-color: #EFFFFF;
  padding: 20px;
  transition: 0.2s;
  &-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.011em;
    color: #000000;
    @include lg {
      text-align: center;
      font-size: 18px;
    }
    i {
      text-decoration: none;
      cursor: pointer;
      font-style: normal;
      position: relative;
      transition: 0.2s;
      &:after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: -3px;
        width: 0;
        height: 2px; /* Высота линии */
        background-color: black; /* Цвет подчеркивания при исчезании линии*/
        transition: width 0.5s; /* Время эффекта */
      }
      &:hover:after {
        content: "";
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 2px; /* Высота линии */
        background-color: #1b9f9b; /* Цвет подчеркивания при появлении линии*/
        transition: width 0.5s;  /* Время эффекта */
        @include md {
          display: none;
        }
      }
      &:hover {
        color: #1b9f9b;
      }
      @include md {
        &:hover {
          color: black;
        }
      }
    }
  }
  &__img {
    width: 30px;
    cursor: pointer;
    transition: 0.2s;
  }
  &__footnote {
    height: 0;
    font-size: 0;
    transition: 0.2s;
    text-align: center;
  }
}

.accordeon-open {
  font-size: 16px;
  padding-block: 34px;
  border: 1px solid black;
  margin-top: 20px;
}

.rotate {
  transform: rotateZ(180deg);
  opacity: 0.2;
}