
@use "../presets" as *;

.container--work {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.work {
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    text-align: center;
    @include lg {
      font-size: 30px;
    }
  }
  &-box {
    background-color: #70D4D6;

  }
  &-titles {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    border-right: 4px solid #A6ECEF;
    flex-basis: 30%;
    &__text {
      text-align: right;
      font-weight: 500;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: -0.011em;
      color: #A6ECEF;
      //transition: 0.2s;
      cursor: pointer;
      @include lg {
        text-align: center;
        color: #FFFFFF;
      }
      &:hover {
        color: #cbf6f5;
        @include lg {
          color: white;
        }

      }
      &:active {
        color: #1b9f9b;
        @include lg {
          color: white;
        }
      }
    }
  }
  &-descriptions {
    padding-left: 40px;
    flex: 4 0 0;
    &__text {
      font-size: 20px;
      line-height: 32px;
      letter-spacing: -0.011em;
      color: #FFFFFF;
      transition: 0.2s;
      transform: scale(0);
    }
  }
}

.visible {
  transform: scale(1);
}

.work-titles__text {
  border-right: none;
  margin-right: -4px;
  padding-right: 40px;
  padding-block: 20px;
  @include lg {
    padding-right: 0;
  }
}

.work-titles__text.selected {
  border-right: 4px solid rgba(0, 178, 182, 0.75);
  color: white;
  padding-right: 36px;
  @include lg {
    border-right: none;
  }
}

.desctop {
  @include lg {
    display: none;
  }
}

.work-mobile {
  background-color: #70D4D6;
  padding-block: 50px;
  @include lg-min {
    display: none;
  }
  h2 {
    padding-bottom: 50px;
  }
  p {
    transform: scale(1);
    text-align: center;
    padding-bottom: 60px;
  }
}
.work-title__description {
  padding-block: 30px;
}